* {
  margin: 0;
  color: var(--lavender);
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
}

:root {
  --hotpink: #c82792;
  --indigo: #170034;
  --lavender: #bfa5c5;
  --purple: #491c60;
}

header {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--lavender);
  background-color: var(--indigo);
}

header a {
  text-decoration: none;
  color: var(--lavender);
}
header nav {
  float: right;
  margin: 20px 0 5px 0;
  flex-wrap: wrap;
  padding-right: 2.5%;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  margin: 0 10px;
  font-weight: lighter;
  font-size: 20px;
  color: var(--lavender);
  text-decoration: none;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
  background: var(--hotpink);
  color: black;
  text-shadow: none;
  padding: 5px;
}

/* header h1 a {
  margin: 30px 25px 0 50px;
  font-weight: bold;
  font-size: 36px;
  color: var(--lavender);
  text-decoration: none;
  display: inline;
  font-family: 'Allison', cursive;
} */
h1 {
  margin: 0 0 0 50px;
  font-weight: bold;
  font-size: 64px;
  color: var(--lavender);
  text-decoration: none;
  display: inline;
  font-family: 'Allison', cursive;
}

h2 {
  font-weight: bold;
  font-family: 'Allison', cursive;
  font-size: 30px;
}

.hero {
  height: 300px;
  width: 100%;
  margin: 0;
}
.hero-image {
  margin: 0;
  width: 100%;
  background-image: url("../images/fakurian-design-u8Jn2rzYIps-unsplash.jpg");
  height: 220px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.headshot img {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 10px 0px 10px 40px;
  display: inline-block;
  top: 0;
  left: 30px;
}
.hero-text{
  text-align: center;
  position: absolute;
  top: 70%;
  right: 0;
  padding-right: 2.5%;
}
h3 {
  float: right;
  background-color: var(--hotpink);
  color: black;
  text-align: center;
  padding: 8px;
  font-family: 'Allison', cursive;
  font-size: 32px;
}
.about-content {
  display: flex;
  color: var(--lavender);
  padding-top: 10px;
  background-color: var(--indigo);
}
#about-me2 {
  flex: 20%;
  border-right: 3px solid var(--hotpink);
  text-align: right;
  padding-right: 2.5%;
  margin-bottom: 10px;
  margin-top: 20px;
}
.bio2 {
  flex: 70%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-bottom: 10px;
  margin-top: 20px;
}
.work-content {
  display: flex;
  color: var(--lavender);
  padding-top: 10px;
  background-color: var(--indigo);
}
#work2 {
  flex: 20%;
  border-right: 3px solid var(--hotpink);
  text-align: right;
  padding-right: 2.5%;
  margin-bottom: 10px;
  margin-top: 20px;
}
.work2 {
  flex: 70%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-bottom: 10px;
  margin-top: 20px;
}
.main-project {
  display: flex;
  margin-bottom: 10px;
}
.row2-projects {
  display: flex;
  margin-bottom: 10px;
}
.row3-projects {
  display: flex;
  margin-bottom: 10px;
}
.project-1 img {
  height: 100%;
  width: 100%;
  border: 3px solid var(--hotpink);
  opacity: .5;
}
.project-2 img,
.project-3 img,
.project-4 img,
.project-5 img {
  height: 100%;
  width: 100%;
  border: 3px solid var(--hotpink);
  opacity: .5;
}
.project-1 {
  position: relative;
  flex: 100%;
}
.project-3,
.project-5 {
  position: relative;
  flex: 50%;
}
.project-2,
.project-4 {
  position: relative;
  flex: 50%;
  margin-right: 10px;
}
.project-1 img:hover,
.project-2 img:hover,
.project-3 img:hover,
.project-4 img:hover,
.project-5 img:hover {
 opacity: 1;
}
.text-block {
  position: absolute;
  bottom: 20px;
  left: 0px;
  background-color: var(--hotpink);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.footer {
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-content {
  display: flex;
  color: var(--lavender);
  padding-top: 10px;
  background-color: var(--indigo);
}
#contact-me2 {
  flex: 20%;
  border-right: 3px solid var(--hotpink);
  text-align: right;
  padding-right: 2.5%;
  margin-bottom: 10px;
  margin-top: 20px;
}
.contact2 {
  flex: 70%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  
}
.phone, .email, .github, .linkedin {
  text-decoration: none;
  flex: 25%;
  border-bottom: 3px solid var(--hotpink);
  margin-right: 20px;
  margin-left: 20px;
}
.phone:hover, .email:hover, .github:hover, .linkedin:hover {
  border-bottom: 3px solid var(--lavender);
}